@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap");

:root {
    --font-kdam: "Kdam Thmor Pro", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --body-bg-color: #f2ebe9;
    --bg-2: #e9d5ca;
    --hover-color: #7d1e6a;
    --blk-1: #252a34;
    --grey-1: #423f3e;
    --shadow: #c4c4c49f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-roboto);
}

body {
    background-color: var(--body-bg-color);
    height: 100vh;
}

header {
    width: 100%;
    padding: 20px;
    font-family: var(--font-roboto);
    margin-bottom: 20px;
}

.logo {
    color: var(--blk-1);
    text-decoration: none;
    display: inline-block;
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 20px;
    padding: 10px;
    margin-right: 50%;
}

/* navigation */
.navigation {
    display: inline-block;
    text-align: center;
    width: 40%;
}

.nav-list {
    vertical-align: middle;
}

.nav-list li {
    width: 20%;
    display: inline-block;
}

.nav-list a {
    display: block;
    text-decoration: none;
    color: var(--blk-1);
}

.nav-list a:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

/* introduction */
.introduction {
    height: 75%;
}

.aboutMe {
    width: 75%;
    margin: 20px auto 100px;
    padding: 20px;
}

.details {
    font-family: var(--font-kdam);
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    font-weight: 900;
    margin-right: 10%;
}

.details p {
    font-family: var(--font-kdam);
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    line-height: 30px;
}

.details .tech {
    font-size: 20px;
}

.introImage {
    vertical-align: middle;
    height: 500px;
    border-radius: 50%;
}

section h2 {
    font-family: var(--font-kdam);
    width: 400px;
    text-align: center;
    border: 3px solid var(--blk-1);
    margin: 20px auto;
}

/* footer */
footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    height: 100px;
}

.socialMediaLinks {
    margin-top: 40px;
}

.socialMediaLinks li {
    display: inline-block;
    margin: auto 50px;
}

.socialMediaLinks li i {
    font-size: 20px;
    color: var(--blk-1);
}

.socialMediaLinks i:hover {
    color: var(--hover-color);
}

.gallery,
.hobbies,
.animeList {
    padding: 20px;
    min-height: 75%;
}

/* Gallery */
.gallery h2 {
    margin-bottom: 150px;
}

.pictures {
    text-align: center;
}

.pictures img {
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 10%;
    vertical-align: top;
    transition: all ease 1s;
}

.pictures img:hover {
    width: 200px;
    height: 300px;
    border-radius: 20px;
    opacity: 70%;
    box-shadow: 0 -20px 10px 0 var(--shadow);
}

/* hobbies */
.hobbies table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
}

.hobbies td {
    text-align: center;
    width: 300px;
    height: 300px;
    padding: 10px;
    font-size: 30px;
    font-weight: bolder;
    transition: all ease 0.5s;
}

.hobbies tr {
    transition: background-color ease 0.8s;
}

.hobbies tr:hover {
    background-color: var(--bg-2);
}

.hobbies img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* list of anime */
.animeList {
    text-align: center;
}

.animeList article {
    color: var(--grey-1);
    display: inline-block;
    width: 25%;
    vertical-align: top;
    padding: 10px;
    transition: background-color ease 1s;
    border-radius: 10px;
}

.animeList article:hover {
    background-color: var(--bg-2);
}

.animeList article img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.animeList .left {
    text-align: left;
}

.animeList h3 {
    margin-bottom: 10px;
}

.animeList p {
    text-indent: 40px;
    margin-top: 10px;
    line-height: 25px;
}
